*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    background-color: aqua;
    min-height: 70px;
    display: flex;
    align-items: center;

}
header{
    max-width: 1200px;
    margin:0 auto;
    
}
.display-flex{
    background-color: orange;
    border: 1px dashed black;
    display: flex;
    
    width: 1000px;  
}
.logo,.link,.login{
    border: 1px dashed black;
    width: 900px;
}
.link{
    display: flex;
    justify-content: space-around;
}
.login{
    display: flex;
    justify-content:flex-end;
}

